@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

body{
     
    background-color: #222;
 
}
header{
    box-shadow: 0px 0px 20px 2px rgba(162, 0, 255, 1);
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 25px 10px;
    font-family: 'Italianno', cursive;
}
.cardSection{
    display: flex;
    margin: auto;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 100px ;
}
.card{
     
     position: relative;
    width: 300px;
    height: 450px;
    margin-top:50px; 
    color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px -6px rgba(255, 56, 139, 0.685);
    transition: .6s;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 20px 2px rgb(255, 56, 122);
}
.card-header,.card-footer{
    background-color: black;
    flex: 2;
    padding: 20px;
   
}
.card-header{
    overflow: hidden;
    perspective: 1000px;
    position: relative;
     
      background-position: center;
      background-size: cover;
       
}

.card-footer{
    flex: 3;
    display: grid;
    place-items: center;
    background-color: #111;
}
 
.card-header::before {
 
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.card-header::after {
  background: linear-gradient(to bottom, #fff4, transparent);
  
  border-radius: 50%;
  content: '';
  padding-bottom: 150%;
  position: absolute;
  right: -40%;
  top: -100%;
  width: 100%;
  z-index: 1;
}

.color{
    background-image : url('https://cdn.discordapp.com/attachments/787257444615061524/903295518514499625/gen.png');
 
}
.brightnessReducer{
    background-image : url('https://cdn.discordapp.com/attachments/787257444615061524/903296985233231882/e-min.jpg');
}
.sevenTV{
    background-image: url('https://cdn.discordapp.com/attachments/787257444615061524/903302710491754506/f-min1.jpg');
}
.ig-ext{
    background-position: left;
    background-image: url('https://cdn.discordapp.com/attachments/787257444615061524/903299473399238666/unknown-min.png');
}
.pf{
    background-image: url('https://cdn.discordapp.com/attachments/787257444615061524/903300060798914590/unkn2own-min.png');
}
.kon{
    background-image: url('https://cdn.discordapp.com/attachments/787257444615061524/903300599523713055/udnknown-min.png');
}
.check-link{
    border: 3px solid white;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: .4s;
}
.check-link:hover{
    background-color: #fff;
    color: #000;
}
#works{
     
    margin: auto;
    color: #fff;
   width: fit-content;
position: relative;
}
#works::before{
    content: '';
    height: 5px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: -10px;
}
.linktoWorks{
    text-decoration: none;
    border: 3px solid white;
    width: fit-content;
     padding: 15px 30px;
     color: #fff;
     margin-top: 20px;
    transition: .5s;
    }
.linktoWorks:hover{
    background-color: white;
    color: #000;
}
.about-me{
     
    margin: auto;
    color: white;
    padding: 40px 0;
 display: flex;
 flex-direction: column;
 justify-content: center;
min-height: 100vh;
}
.card-links{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
@media only screen and (min-width: 760px) {
    .cardSection{
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 690px;
        min-height: 100vh;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: stretch;
    }
  }
@media only screen and (min-width: 1200px) {
    .cardSection{
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 990px;
        min-height: 100vh;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
    }
    .about-me{
        width: 990px;
   
    }
    .about-me h1{
        font-size: 36px;
    }
    #works{
      
      }
  }
  .logo-repo{
    /* position: absolute;
    bottom: 10px;
    left: 10px; */
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(73deg) brightness(103%) contrast(103%);
  }
