@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin:0;
    box-sizing: border-box;
    cursor: pointer;
    color:#fff;
}
.container{
    height: 100vh;
    overflow: hidden;
    background-color: #222;
    display: grid;
}
.btn{
    padding: 20px 60px;
    border: 4px solid white;
    cursor: pointer;
    text-align: center;
    user-select:none;
    color: #fff;
}
 
.colorGenContainer{
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    width: 290px;
}
.colorGenContainer >*{
    flex: 0;
    margin-top: 20px;
    font-size: 20px;
}
.rgbCode{
    color: #fff;
} 
.copied{
     cursor: pointer;
    background:#fff;
    font-size:16px;
     color: black;
     text-align: center;
    padding: 6px 12px;
    padding-bottom:8px;
    border-radius:16px;
    font-weight:bold;
    user-select:none;
    width: 75px;
    letter-spacing: .3px;
    opacity: 1;
    transition: 0.5s ease;
}
 
 .hidden{
opacity: 0;
transition: 0.5s ease;
 }
 .logo-repo{
     position: absolute;
     bottom: 30px;
     left: 30px;
 }
